body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.link, a {
  text-decoration: none !important;
  color: #000000;
}
p {
  margin-top: 10px;
}
a small, .default-btn {
  text-decoration: none !important;
  color: #666;
}
a:hover, a:hover small, .link:hover, .default-btn:hover {
  text-decoration: none !important;
  color: #000000;
}
h3 {
  font-size: 1.5em;
  font-weight: bold;
}
.ListContainer {
  position: absolute;
  margin: 0px 40px;
  padding-top: 100px;
}
.ArticlesList {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
img.fit {
  margin-bottom: 20px;
  /* width: 100%;
  height: auto; */
  object-fit: cover;
  flex: 1;
  overflow: hidden;
  height: 250px;
}
img.show{
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 488px){
  .ArticleCard {
    max-width: 380px;
    margin: 0 auto;
  }
  .ListContainer {
    margin: 0px;
  }
}
.fit {
  /* object-fit: cover; */
  justify-content:center;
  align-items: center;
  width: 100%;
}
.ArticleCard {
  display: flex;
  flex-direction: column;
}
.media-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.wrapper {
  width: 100%;
}
.word-wrap {
  word-wrap: break-word;
}
.back-btn {
  float:right;
}
.back-btn, .default-btn {
  border: 1px solid #000;
}
.clearfix {
  clear:both;
}
.navbar {
  width: 100%;
  z-index: 100;
  top:0;
  position: fixed;
}
.nav-item
{
  display: block;
  padding: .5rem 1rem;
}
.flex-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.center-block {
  margin:0 auto
}
.inline-card {
  display:inline;
}
