body {
  margin: 0;
  padding: 0;
  font-family: Tiempos,Georgia,serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
small, .btn, .navbar a {
  font-family: Fakt,AvenirNext-Medium,Segoe UI,sans-serif;
}
#navbarNav a:hover {
  border-bottom: 1px solid #000;
}
.navbar {
  background-color: #FFF;
}
p {
  margin-top: 10px;
}
a small, .default-btn {
  text-decoration: none !important;
  color: #666;
}
.link, a, a:hover, a:hover small, .link:hover, .default-btn:hover {
  text-decoration: none !important;
  color: #000000;
}
h1 {
  font-size: 1.45em;
  font-weight: bold;
}
.ListContainer {
  position: absolute;
  margin: 0px 40px 20px;
  padding-top: 100px;
}
.flex-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
img.fit {
  margin-bottom: 20px;
  object-fit: cover;
  flex: 1;
  overflow: hidden;
  height: 250px;
}
img.show{
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 488px){
  .ArticleCard, .ArticleShow {
    max-width: 380px;
    margin: 0 auto;
  }
  img.show {
    margin-bottom: 20px;
    object-fit: cover;
    flex: 1;
    overflow: hidden;
    height: 250px;
  }
}
.fit {
  justify-content:center;
  align-items: center;
  width: 100%;
}
.word-wrap {
  word-wrap: break-word;
}
.default-link {
  font-weight: bold;
}
.default-link:hover {
  text-decoration: underline !important;
}
.default-btn {
  border: 1px solid #000;
}
.clearfix {
  clear:both;
}
.navbar {
  width: 100%;
  z-index: 100;
  top:0;
  position: fixed;
}
.nav-item
{
  display: block;
  padding: .5rem 1rem;
}
.center-block {
  margin:0 auto
}
.btn:focus, button.navbar-toggler:focus {
  outline: 0;
  box-shadow: none;
}
.margin-top-30 {
  margin-top: 30px;
}
.pointer {
  cursor: pointer;
}
